#name, #task1, #task2, .note{
    font-family: Arial;
    height: 250px;
    float:left;
    width: 250px;
    box-shadow: 5px 5px 5px 1px #444;
    background-color: #ffff77;
    position: relative;
}

.board{
    width: 100%;
    height: 100%;
    background-color: #efefef;
}

.button-holder{
    position: absolute;
    right: 5px;
    bottom: 5px;
    opacity: 0;
    transition: opacity .25s linear;
}




.note:hover .button-holder{

    opacity: 1;

}
